{% extends "_base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-7">
    <h2>Select an Image</h2>
    <br>
    <div class="row">
      {% for im in images %}
      <div class="col-md-6">
        <p><img src='cdn/{{ im }}' style="height: 250px;" class="img"></p>

      </div>
      {% endfor %}
    </div>
    <button type="button" name="button" id="submit">SUBMIT</button>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h2>Results</h2>
    <br>
    <p id="searching">Searching...</p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
    <br><br>
    <table class="table " id="results-table" style="display = results-table !important">
      <thead>
        <tr>
          <th>Image</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </div>

</div>

<br>

{% endblock %}
